page-blog1 {

  // ios variables


  $alert-ios-max-width: 100px;

  //android variables
  $discussions: #ffdb13;
  $users: #ef473a;
  $friends: #387ef5;
  $categories: #33cd5f;

  .ion-content {
    background-color: $pages-background-color;
  }

  .grid {
    padding: 0px !important;
    .menu-nav-icon {
      background-color: #ff5e3a;
      a {
        .menu-icon {
          display: block;
          margin: 10px auto !important;
        }
      }
    }
    .menu-col-nav-icon {
      background: #3f4257;
      a {
        .menu-link-icon {
          display: block;
          margin: 5px auto 10px;
        }
        .menu-link-value {
          display: block;
          color: white;
          text-align: center;
          width: 30%;
          border-radius: 100%;
          margin-left: 60%;
          font-size: 10px;
          padding: 3px 0px;
        }
        .search {
          margin-top: 22px !important;
        }
      }
      .under-line {
        width: 100%;
        height: 5px;
        background: #ff5e3a;
        position: absolute;
        bottom: 0px;
        display: none;
        left: 0;
      }
    }

  }

  .bg-blue {
    background-color: #38a9ff;
  }

  .bg-orange {
    background-color: #ff5e3a;
  }

  .bg-purple {
    background-color: #7c5ac2;
  }

  .svg {
    width: 24px;
    height: 22px;
  }

  ion-title {
    color: white;
  }

  .platform-false {
    margin-left: 47%;
    margin-top: -1px;
  }

  .platform-true {
    margin-left: 65%;
  }

  .pic-icon {
    height: 18px;
    width: 18px;
  }

  //.views {
  //  margin-left: 5px;
  //}

  .bar-button {
    color: white;
  }
/*
  .author-date {
    font-size: 10px;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }*/
/*
  .links-block {
    padding: 20px 0 0;
    border-top: 1px solid #e6ecf5;
  }*/

  .search_bar {
    height: 70px;
    width: 100%;
    background-color: #3f4257;
    line-height: inherit;
    font-size: .875rem;
    position: absolute;
    display: none;
    color: #707073;;
    z-index: 5;
  }

  .display-block {
    display: block !important;
  }

  .searchbar-ios {
    border: none;
    padding: 20px 5px !important;
    color: #707073;
  }

  .request {
    background: white;
    width: 100%;
    display: none;
    position: absolute;
    z-index: 5;

  }

  .ui-block-title:first-child {
    border-top: none;
  }

  .ui-block-title {
    padding: 23px 25px 18px;
    line-height: 1;
    border-bottom: 1px solid #e6ecf5;
    border-top: 1px solid #e6ecf5;
    display: table;
    width: 100%;
    position: relative;
    border-radius: 5px 5px 0 0;
  }

  .ui-block-title.ui-block-title-small .title {
    font-size: 9px;
    text-transform: uppercase;
    color: #9a9fbf;
  }

  .ui-block-title > * {
    margin-bottom: 0;
    display: table-cell;
    vertical-align: middle;
  }

  responsive .ui-block-title a {
    color: #515365;
  }

  .add-request {
    display: inline-block;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem;
    font-size: .688rem;
    border-radius: .25rem;
    transition: all .2s ease-in-out;
    background-color: #38a9ff;
    color: #fff;
    fill: #fff;
    .add-friend {
      margin-top: 5px;
      height: 18px;
      width: 18px;
      margin-left: 4px;
      margin-top: 8px;
      margin-bottom: 0px;

    }
    .plus-icon {
      position: relative;
      display: inline-block;
      left: -1px;
      font-size: 12px;
      vertical-align: middle;
      top: -21px;
    }
  }

  .cancel-request {
    background-color: #9a9fbf !important;
  }

  .check {
    width: 100%;
    background-color: #38a9ff;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    a {
      text-align: center;
      text-decoration: none;
      color: white;
      margin-left: 30%;
    }
  }

  .chat {
    background: white;
    width: 100%;
    display: none;
    position: absolute;
    z-index: 5;
  }

  .check-message {
    background-color: #7c5ac2 !important;
  }

  .notification {
    background: white;
    width: 100%;
    display: none;
    position: absolute;
    z-index: 5;
  }

  .check-notification {
    background-color: #ff5e3a !important;
  }

  .notification-status {
    color: #ff5e3a;
    font-size: 13px;
  }

  .notification-hours {
    font-size: 13px;
  }

  .same {
    color: #515365;
    text-decoration: none;
    font-size: 12px;
  }

  .card-content {
    padding: 0px !important;
  }

  .card-md {
    border-radius: 5px 5px 0 0 !important;
  }

  a {
    text-decoration: none !important;
  }

  .category-item {
    &:hover {
      background-color: #38a9ff;
      color: #fff;
    }
  }

  .caregories {
    display: none;
    position: absolute;
    z-index: 5;
  }

  .cancel {
    background: #9a9fbf;
    color: #fff;
  }

  .allCategories {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    &:hover {
      background-color: #38a9ff;
      color: #fff;
    }
  }

  .createCategories {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  .add-scroll {
    overflow-y: auto;
    height: 250px;
  }

  #browser {
    display: block;
    margin: 0 auto;
    width: 90%;
    height: 200px;
  }

  p {
    margin-top: 6px;
  }

  .categories {
    background: #38a9ff !important;
  }

  .users {
    background: #ff5e3a !important;
  }

  .discussions {
    background: #7c5ac2 !important;
  }

  .friends {
    background: #888da8 !important;
  }

  .colorik {
    color: #3f4257 !important;
  }

  .us {
    margin-left: 8px;
  }

  .buttons-div {
    width: 78% !important;
  }

  .des {
    margin-top: 3px !important;
  }

  //-------------------------------------

  .add-link {
    height: 20px;
    width: 20px;
  }

  .nav-link-icon {
    width: 20px;
    height: 20px;
  }

  .nav-link-icon-plus {
    position: absolute;
    top: -13px;
    right: 13px;
  }

  .position {
    position: fixed;
  }

  //--------------- discussions-----------

  .create-discussions {
    border: 2px dashed #bbc0d5;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    margin: 16px;
    .discussions-img {
      background: #38a9ff;
      border-radius: 100%;
      width: 50px;
      height: 50px;
      margin: 20px auto;
      padding: 15px;
    }
    .discussions-text {
      color: #515365;
      font-size: 14px;
      margin-bottom: 20px;
    }
  }

  .header-img {
    width: 120px;
    height: 120px;
    border-radius: 100px;
    line-height: 120px;
    background-color: #d7d9e5;
    margin-bottom: 20px;
    overflow: hidden;
    margin: 0 auto;
    img {
      border-radius: 100%;
      overflow: hidden;
      height: 50px;
      width: 50px;
      margin: 35px auto;
    }
  }

  .friend-groups .friends-harmonic {
    display: inline-block;
    margin-bottom: 35px;
    ul {
      list-style-type: none;
    }
  }

  .friends-harmonic {
    overflow: hidden;
    margin: 10px 5%;
    display: block;

  }

  ul {
    padding: 0;
    list-style-type: none;
  }

  .friends-harmonic li {
    float: left;
  }
  .friends-harmonic li:first-child a {
    margin-left: 0;
  }

  .friends-harmonic a {
    width: 28px;
    height: 28px;
    border-radius: 100%;
    overflow: hidden;
    border: 2px solid #fff;
    display: block;
    margin-left: -12px;
  }
  .discussion-settings {
    box-shadow: none !important;
  }

  .discussion-settings-btn-1 {
    margin-left: 15%;
  }

  .discussion-settings-btn-2 {
    margin-right: 15%;
  }

  .discussion-settings-btn-3 {
    display: block;
    margin: 0px 25%;
  }

  .more {
    height: 5px;
    width: 20px;
  }

  .more-block {
    position: absolute;
    width: 60%;
    z-index: 5;
    right: 0;
    ul li {
      padding: 8px;
    }
  }

  //-------------- friends --------------

  .card-friend {
    border-radius: 0px !important;
    .teammembers-thumb {
      position: relative;
      overflow: hidden;
      margin-bottom: 30px;
      display: inline-block;
      width: 100%;
      border-radius: 0px;
      img {
        height: 120px;
        width: auto;
        margin: 0 auto;
      }
    }
    .teammember-content {
      text-align: center;
      .teammembers-item-name {
        margin-bottom: 10px;
        display: block;
        font-size: 18px;
        color: #515365;
        font-weight: 700;
        line-height: 1.3;
      }
    }

  }

  .header-img-2 {
    border-radius: 100px;
    line-height: 120px;
    overflow: hidden;
    margin: 0 auto;
    img {
      border-radius: 100%;
      overflow: hidden;
      height: 100px;
      width: 100px;
      margin: 5px auto;
    }
  }

  .scroll {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 400px;
  }

  .is-friend {
    background-color: #1ED760 !important;
  }

  .can-be-friend {
    background-color: rgba(30, 215, 96, 0.38) !important;
  }

  .card-mini {
    width: 45% !important;
    float: left !important;
    margin-top: 10px;
  }

  .cols {
    padding: 0px !important;
  }

  .discussion-navigation {
    background: red;
    padding-left: 0px !important;
  }

  .notification-does-not-read {
    background: #ffe2db !important;
  }

  .pagination {
    display: block;
    margin-left: 25%;
    margin-bottom: 10px;
    list-style-type: none;
    font-size: 12px;
    font-weight: 700;
    padding: 0 4px;
    .page {
      float: left;
      padding: 10px;
      border-radius: 5px;
      display: block;

      margin-left: -1px;
      line-height: 1.25;
      color: #515365;
      background-color: #fff;
      border: 1px solid #e6ecf5;

      &:hover {
        color: #fff;
        text-decoration: none;
        background-color: #ff5e3a;
        border-color: #dee2e6;
      }
    }
  }

  .plus-icon-discussion {
    position: relative;
    display: inline-block;
    left: 11px;
    font-size: 12px;
    vertical-align: middle;
    top: -27px;
  }

  .add-friend-discussion {
    height: 18px;
    width: 18px;
    margin-left: 0px;
    margin-top: 12px;
    margin-bottom: 0px;
  }

  #allWindow {
    z-index: 10;
  }
}
