<ion-header>
    <ion-navbar>
        <ion-grid>
            <ion-row>
                <ion-col class="menu-nav-icon">
                    <a menuToggle>
                        <img src="assets/imgs/logo_small.png" alt="Linker" class="menu-icon">
                    </a>
                </ion-col>
                <ion-col class="menu-col-nav-icon" (click)="openFriendRequest()">
                    <a class="menu-link">
                        <span class="menu-link-value bg-blue" *ngIf="friendsRequest.length  > 0"><p>{{friendsRequest.length}}</p></span>
                        <span class="menu-link-value bg-blue colorik" *ngIf="friendsRequest.length  === 0"> p </span>
                        <img class="svg menu-link-icon" src="assets/svg/happy-face-icon.svg">
                    </a>
                    <span [class.display-block]="openFreind === true" class="under-line"></span>
                </ion-col>
                <ion-col class="menu-col-nav-icon" (click)="openChatMessege()">
                    <a class="menu-link">
                        <span class="menu-link-value bg-purple">2</span>
                        <img class="svg menu-link-icon" src="assets/svg/chat---messages-icon.svg">
                    </a>
                    <span [class.display-block]="openChat === true" class="under-line"></span>
                </ion-col>
                <ion-col class="menu-col-nav-icon" (click)="openNotification()">
                    <a class="menu-link">
                        <span class="menu-link-value bg-orange">{{notifications.length}}</span>
                        <img class="svg menu-link-icon" src="assets/svg/thunder-icon.svg">
                    </a>
                    <span [class.display-block]="openNotificationBar === true" class="under-line"></span>

                </ion-col>
                <ion-col class="menu-col-nav-icon" (click)="openSearch()">
                    <a class="menu-link">
                        <img class="svg menu-link-icon search" src="assets/svg/magnifying-glass-icon.svg">
                    </a>
                    <span [class.display-block]="openSearchBar === true" class="under-line"></span>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-navbar>
</ion-header>


<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
                refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>

    <ion-fab right bottom *ngIf="nav === 'links'">
        <button ion-fab  (click)="createLink()">
            <img src="assets/svg/plus-icon.svg" alt="add-link" class="add-link" >
        </button>
    </ion-fab>
    <div *ngIf="openLinks"></div>


    <div class="request" ion-fixed [class.display-block]="openFreind === true">
        <div class="mCustomScrollbar ps ps--theme_default ps--active-y">
            <div class="ui-block-title ui-block-title-small">
                <h6 class="title">FRIEND REQUESTS</h6>
                <a class="same" href="#">Find Friends</a>
                <a class="same" href="#">Settings</a>
            </div>
            <ion-item-sliding *ngFor="let request of friendsRequest; let i of index">
                <ion-item>
                    <ion-avatar item-start>
                        <img src={{request.avatar}}>
                    </ion-avatar>
                    <h4><b>{{request.name}} {{request.last_name}}</b></h4>
                    <p>Mutual Friend: Sarah Hetfield</p>
                </ion-item>
                <ion-item>
                    <div class="add-request" (click)="AcceptFriendRequest(request.id)">
                        <img class="add-friend" src="assets/svg/happy-face-icon.svg">
                        <span class="plus-icon">+</span>
                    </div>
                    <div class="add-request cancel-request" (click)="DidntAcceptFriendRequest(i)">
                        <img class="add-friend" src="assets/svg/happy-face-icon.svg">
                        <span class="plus-icon">-</span>
                    </div>
                </ion-item>
            </ion-item-sliding>

            <div class="check">
                <a href="#" padding text-center>Check all your Events</a>
            </div>

        </div>
    </div>

    <div class="chat" ion-fixed [class.display-block]="openChat === true">
        <div class="mCustomScrollbar ps ps--theme_default ps--active-y">
            <div class="ui-block-title ui-block-title-small">
                <h6 class="title">CHAT / MESSAGES </h6>
                <a class="same" href="#">Mark all as read</a>
                <a class="same" href="#">Settings</a>
            </div>

            <ion-item-sliding>
                <ion-item>
                    <ion-avatar item-start>
                        <img src="assets/imgs/user.jpg">
                    </ion-avatar>
                    <h4><b>Diana Jameson</b></h4>
                    <p>Hi James! It’s Diana, I just wanted to let you know that we have to reschedule...</p>
                    <span>4 hours</span>
                </ion-item>

            </ion-item-sliding>

            <div class="check check-message">
                <a href="#" padding text-center>View All Messages</a>
            </div>

        </div>
    </div>

    <div class="notification" ion-fixed [class.display-block]="openNotificationBar === true">
        <div class="mCustomScrollbar ps ps--theme_default ps--active-y">
            <div class="ui-block-title ui-block-title-small">
                <h6 class="title">NOTIFICATIONS </h6>
                <a class="same" href="#">Mark all as read</a>
                <a class="same" href="#">Settings</a>
            </div>

            <ion-item-sliding  scroll="yes">
                <ion-item *ngFor="let notification of notifications">
                    <ion-avatar item-start>
                        <img src={{notification.data.recipient.avatar}}>
                    </ion-avatar>
                    <h4><b>{{notification.data.recipient.name}} {{notification.data.recipient.last_name}}</b></h4>
                    <p>{{notification.data.message}}</p>
                    <span class="notification-hours">{{notification.date}}</span>
                </ion-item>

            </ion-item-sliding>

            <div class="check check-notification">
                <a href="#" padding text-center>View All Notifications</a>
            </div>

        </div>
    </div>

    <div class="search_bar" ion-fixed [class.display-block]="openSearchBar === true">
        <ion-searchbar
                [(ngModel)]="search"
                (ionInput)="onInput($event)">
        </ion-searchbar>
    </div>

    <ion-grid margin-top>
        <ion-row margin-left>

            <ion-col (click)="openCategories()">
                <div class="buttons-div">
                    <button class="fab fab-md categories">
                             <span class="button-inner">
                                 <img class="nav-link-icon" src="assets/svg/calendar-icon.svg">
                            </span>
                    </button>
                </div>
            </ion-col>
            <ion-col>
                <div class="buttons-div" (click)="setNav('discussions')" >
                    <button class="fab fab-md discussions">
                         <span class="button-inner">
                             <img class="nav-link-icon" src="assets/svg/chat---messages-icon.svg">
                        </span>
                    </button>
                </div>
            </ion-col>
            <ion-col>
                <div class="buttons-div" (click)="setNav('friends')">
                    <button class="fab fab-md users">
                         <span class="button-inner">
                            <img class="nav-link-icon" src="assets/svg/happy-face-icon.svg">
                            <span class="nav-link-icon-plus">+</span>
                        </span>
                    </button>
                </div>
            </ion-col>
            <ion-col>
                <div class="buttons-div">
                    <button class="fab fab-md friends">
                        <span class="button-inner">
                            <img class="nav-link-icon" src="assets/svg/happy-faces-icon.svg">
                        </span>
                    </button>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div [ngSwitch]="nav">
        <div *ngSwitchCase="'links'">
            <ion-card class="caregories" [class.display-block]="openCategory === true" style="margin-top: 0px">
                <ion-item class="allCategories " (click)="allCategory()">All Categories</ion-item>
                <div class="add-scroll">
                    <ion-item *ngFor="let category of data.categories; let i = index" (click)="someCategory(i)"
                              class="category-item">
                        {{category.name}}
                    </ion-item>
                </div>
                <ion-item class="createCategories" text-center (click)="createCategory()">
                    Create Category
                </ion-item>
                <ion-item class="cancel" text-center (click)="cancelCategory()"> Cancel</ion-item>
            </ion-card>
            <div (click)="allWindowClick()" id="allWindow" margin-bottom>
                <ion-card *ngFor="let link of links, let i = index" (press)="presentActionSheet($event,i)">
                    <ion-card-content>
                        <a class="card-link" (click)="openWithBrowser(i)">
                            <img src={{link.image}}>
                            <div margin>
                                <div class="pic-icon" float-left margin-right>
                                    <img src={{link.icon}}>
                                </div>
                                <a>{{link.host}}</a>
                            </div>
                            <ion-card-title margin>
                                {{link.title}}
                            </ion-card-title>
                            <p margin>
                                {{link.tags}}
                            </p>
                            <div class="author-date" margin>
                                <p>BY <b>Some One</b> - {{link.create_date}}</p>
                            </div>
                        </a>
                        <div class="links-block" margin>
                            <img class="pic-icon" margin-bottom float-left [src]=link.likeImg>
                            <span class="views" float-left margin-right> {{link.views}}</span>
                            <img class="pic-icon" margin-bottom float-left [src]=link.commentImg>
                            <span class="views" float-left margin-right> 0</span>
                            <img class="pic-icon" margin-bottom float-left [src]=link.viewImg>
                            <span class="views" float-left margin-right> 0</span>
                        </div>
                    </ion-card-content>
                </ion-card>
            </div>
        </div>
        <div *ngSwitchCase="'discussions'" >
            <button ion-button full (click)="setNav('links')">back</button>
            <div class="create-discussions" (click)="createDiscussions()" >
                <div class="discussions-img" >
                    <img src="assets/svg/plus-icon.svg" alt="add-link" class="add-link" >
                </div>
                 <h5 class="discussions-text" text-center margin-horizontal>Create New Discussions</h5>
            </div>
            <ion-card padding *ngFor="let discussion of discussions; let i = index" (press)="deleteDiscussions(i)" >
                <div class="more" float-right (click)="openMore(i)">
                    <img src={{discussion.more}} alt="more" class="more">
                </div>
                <ion-card *ngIf="discussion.openmore" class="more-block">
                    <ul>
                        <li>Report Profile</li>
                        <li>Block Profile</li>
                        <li>Turn Off Notifications</li>
                    </ul>
                </ion-card>
                <ion-item (click)="someDiscussions(i)" >
                    <div class="header-img">
                        <img src={{discussion.headerImg}} alt="header-img">
                    </div>
                    <h6 text-center margin-top>{{discussion.name}}</h6>
                    <p  text-center>{{discussion.friends.length }} Friends in  the Group</p>
                    <ul class="friends-harmonic">
                        <li *ngFor="let friend of discussion.friends">
                            <a><img src={{friend}} ></a>
                        </li>
                    </ul>
                   <ion-item >
                       <div float-left class="discussion-settings-btn-1">
                           <button class="fab fab-md categories discussion-settings">
                             <span class="button-inner">
                                 <img class="nav-link-icon " src={{discussion.addFriends}}>
                            </span>
                           </button>
                       </div>
                       <div  float-right class="discussion-settings-btn-2">
                           <button class="fab fab-md friends discussion-settings">
                             <span class="button-inner">
                                 <img class="nav-link-icon" src={{discussion.settings}}>
                            </span>
                           </button>
                       </div>
                   </ion-item>
                </ion-item>
            </ion-card>
        </div>
        <div *ngSwitchCase="'friends'">
            <button ion-button full (click)="setNav('links')">back</button>
            <ion-card class="card-friend" *ngFor="let friend of friends" >
                <ion-item (click)="someDiscussions(i)" >
                    <div class="header-img-2">
                        <img src={{friend.avatar}} alt="header-img">
                    </div>
                    <h6 text-center >{{friend.name}} {{friend.last_name}}</h6>
                    <ion-item >
                        <div float-left class="discussion-settings-btn-1">
                            <button class="fab fab-md categories discussion-settings">
                             <span class="button-inner">
                                 <img class="nav-link-icon " src="assets/svg/happy-faces-icon.svg">
                            </span>
                            </button>
                        </div>
                        <div  float-right class="discussion-settings-btn-2">
                            <button class="fab fab-md friends discussion-settings">
                             <span class="button-inner">
                                 <img class="nav-link-icon" src='assets/svg/settings-icon.svg'>
                            </span>
                            </button>
                        </div>
                    </ion-item>
                </ion-item>
            </ion-card>
        </div>
        <div *ngSwitchDefault></div>
    </div>
</ion-content>