<ion-header>
    <ion-navbar>
        <ion-grid>
            <ion-row>
                <ion-col class="menu-nav-icon">
                    <a menuToggle>
                        <img src="assets/imgs/logo_small.png" alt="Linker" class="menu-icon">
                    </a>
                </ion-col>
                <ion-col class="menu-col-nav-icon" (click)="openFriendRequest()">
                    <a class="menu-link">
                        <span class="menu-link-value bg-blue" *ngIf="friendsRequest.length  > 0">{{friendsRequest.length}}</span>
                        <span class="menu-link-value colorik" *ngIf="friendsRequest.length  === 0"> p </span>
                        <img class="svg menu-link-icon" src="assets/svg/happy-face-icon.svg">
                    </a>
                    <span [class.display-block]="openFreind === true" class="under-line"></span>
                </ion-col>
                <ion-col class="menu-col-nav-icon" (click)="openChatMessege()">
                    <a class="menu-link">
                        <span class="menu-link-value bg-purple">2</span>
                        <img class="svg menu-link-icon" src="assets/svg/chat---messages-icon.svg">
                    </a>
                    <span [class.display-block]="openChat === true" class="under-line"></span>
                </ion-col>
                <ion-col class="menu-col-nav-icon" (click)="openNotification()">
                    <a class="menu-link">
                        <span class="menu-link-value bg-orange" *ngIf="notifications.length  > 0">{{notifications.length}}</span>
                        <span class="menu-link-value colorik" *ngIf="notifications.length  === 0"> p </span>
                        <img class="svg menu-link-icon" src="assets/svg/thunder-icon.svg">
                    </a>
                    <span [class.display-block]="openNotificationBar === true" class="under-line"></span>

                </ion-col>
                <ion-col class="menu-col-nav-icon" (click)="openSearch()">
                    <a class="menu-link">
                        <img class="svg menu-link-icon search" src="assets/svg/magnifying-glass-icon.svg">
                    </a>
                    <span [class.display-block]="openSearchBar === true" class="under-line"></span>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
                refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>

    <ion-fab right bottom *ngIf="nav === 'links'">
        <button ion-fab (click)="createLink()">
            <img src="assets/svg/plus-icon.svg" alt="add-link" class="add-link">
        </button>
    </ion-fab>


    <div *ngIf="openLinks"></div>

    <div class="request" ion-fixed [class.display-block]="openFreind === true">
        <div class="mCustomScrollbar ps ps--theme_default ps--active-y">
            <div class="ui-block-title ui-block-title-small">
                <h6 class="title">FRIEND REQUESTS</h6>
                <a class="same">Find Friends</a>
                <a class="same">Settings</a>
            </div>
            <ion-item-sliding *ngFor="let request of friendsRequest; let i of index">
                <ion-item>
                    <ion-avatar item-start>
                        <img src={{request.avatar}}>
                    </ion-avatar>
                    <h4><b>{{request.name}} {{request.last_name}}</b></h4>
                    <p>Mutual Friend: Sarah Hetfield</p>
                </ion-item>
                <ion-item>
                    <div class="add-request" (click)="AcceptFriendRequest(request.id)">
                        <img class="add-friend" src="assets/svg/happy-face-icon.svg">
                        <span class="plus-icon">+</span>
                    </div>
                    <div class="add-request cancel-request" (click)="denyRequest(request.id)">
                        <img class="add-friend" src="assets/svg/happy-face-icon.svg">

                        <span class="plus-icon">-</span>
                    </div>
                </ion-item>
            </ion-item-sliding>

            <div class="check">
                <a padding text-center>Check all your Events</a>
            </div>

        </div>
    </div>

    <div class="chat" ion-fixed [class.display-block]="openChat === true">
        <div class="mCustomScrollbar ps ps--theme_default ps--active-y">
            <div class="ui-block-title ui-block-title-small">
                <h6 class="title">CHAT / MESSAGES </h6>
                <a class="same">Mark all as read</a>
                <a class="same">Settings</a>
            </div>

            <ion-item-sliding>
                <ion-item>
                    <ion-avatar item-start>
                        <img src="assets/imgs/user.jpg">
                    </ion-avatar>
                    <h4><b>Diana Jameson</b></h4>
                    <p>Hi James! It’s Diana, I just wanted to let you know that we have to reschedule...</p>
                    <span>4 hours</span>
                </ion-item>

            </ion-item-sliding>

            <div class="check check-message">
                <a padding text-center>View All Messages</a>
            </div>

        </div>
    </div>

    <div class="notification" ion-fixed [class.display-block]="openNotificationBar === true">
        <div class="mCustomScrollbar ps ps--theme_default ps--active-y">
            <div class="ui-block-title ui-block-title-small">
                <h6 class="title">NOTIFICATIONS </h6>
                <a class="same" (click)="readAllNotifications()">Mark all as read</a>
                <a class="same">Settings</a>
            </div>

            <div class="scroll">
                <div *ngFor="let notification of notifications">

                    <ion-item *ngIf="notification.read_at === null" style="background: #ffe2db"
                              (click)="readNotificationByID(notification.id)">
                        <ion-avatar item-start>
                            <img src={{notification.data.recipient.avatar}}>
                        </ion-avatar>
                        <h4><b>{{notification.data.recipient.name}} {{notification.data.recipient.last_name}}</b></h4>
                        <p>{{notification.data.message}}</p>
                        <span class="notification-hours">{{notification.date}}</span>

                    </ion-item>
                    <ion-item *ngIf="notification.read_at !== null">

                        <ion-avatar item-start>
                            <img src={{notification.data.recipient.avatar}}>
                        </ion-avatar>
                        <h4><b>{{notification.data.recipient.name}} {{notification.data.recipient.last_name}}</b></h4>
                        <p>{{notification.data.message}}</p>
                        <span class="notification-hours">{{notification.date}}</span>

                    </ion-item>
                </div>
            </div>

            <div class="check check-notification" (click)="allNotifications()">
                <a padding text-center>View All Notifications</a>
            </div>

        </div>
    </div>

    <div class="search_bar" ion-fixed [class.display-block]="openSearchBar === true">
        <ion-searchbar
                [(ngModel)]="search"
                (ionInput)="onInput($event)">
        </ion-searchbar>
    </div>

    <ion-grid margin-top>
        <ion-row margin-left>

            <ion-col (click)="openCategories()">
                <div class="buttons-div">
                    <button class="fab fab-md categories">
                             <span class="button-inner">
                                 <img class="nav-link-icon" src="assets/svg/calendar-icon.svg">
                            </span>
                    </button>
                </div>
            </ion-col>
            <ion-col>
                <div class="buttons-div" (click)="setNav('discussions')">
                    <button class="fab fab-md discussions">
                         <span class="button-inner">
                             <img class="nav-link-icon" src="assets/svg/chat---messages-icon.svg">
                        </span>
                    </button>
                </div>
            </ion-col>
            <ion-col>
                <div class="buttons-div" (click)="Friends()">
                    <button class="fab fab-md users">
                         <span class="button-inner">
                            <img class="nav-link-icon" src="assets/svg/happy-face-icon.svg">
                            <span class="nav-link-icon-plus">+</span>
                        </span>
                    </button>
                </div>
            </ion-col>
            <ion-col>
                <div class="buttons-div" (click)="Users()">
                    <button class="fab fab-md friends">
                        <span class="button-inner">
                            <img class="nav-link-icon" src="assets/svg/happy-faces-icon.svg">
                        </span>
                    </button>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div [ngSwitch]="nav">
        <div *ngSwitchCase="'links'">

            <ion-card class="caregories" [class.display-block]="openCategory === true" style="margin-top: 0px">
                <ion-item class="allCategories " (click)="allCategory()">All Categories</ion-item>
                <div class="add-scroll">
                    <ion-item *ngFor="let category of data.categories; let i = index" (click)="someCategory(i)"
                              class="category-item" (press)="deleteCategory(category.id)">
                        {{category.name}}
                    </ion-item>

                </div>
                <ion-item class="createCategories" text-center (click)="createCategory()">
                    Create Category
                </ion-item>
                <ion-item class="cancel" text-center (click)="cancelCategory()"> Cancel</ion-item>
            </ion-card>

            <div (click)="allWindowClick()" id="allWindow" margin-bottom>
                <page-links [links]="links" [categoryId]="category_id" [pageName]="'BLOG1PAGE'"></page-links>

                <ion-infinite-scroll (ionInfinite)="doInfiniteLinks($event)">
                    <ion-infinite-scroll-content
                            loadingSpinner="bubbles"
                            loadingText="Loading more data...">
                    </ion-infinite-scroll-content>
                </ion-infinite-scroll>

            </div>


        </div>

        <div *ngSwitchCase="'discussions'">

            <button ion-button full (click)="setNav('links')">back</button>
            <div class="create-discussions" (click)="createDiscussions()">
                <div class="discussions-img">
                    <img src="assets/svg/plus-icon.svg" alt="add-link" class="add-link">
                </div>
                <h5 class="discussions-text" text-center margin-horizontal>Create New Discussions</h5>
            </div>
            <ion-grid>
                <ion-row>
                    <ion-col col-6 class="cols" *ngFor="let discussion of discussions; let i = index">
                        <ion-card class="card-friend" (press)="deleteDiscussions(i)"
                                  >
                            <div margin-right margin-top class="more" float-right (click)="openMore(i)">
                                <img src={{discussion.more}} alt="more" class="more">
                            </div>
                            <ion-card *ngIf="discussion.openmore" class="more-block">
                                <ul>
                                    <li>Report Profile</li>
                                    <li>Block Profile</li>
                                    <li>Turn Off Notifications</li>
                                </ul>
                            </ion-card>
                            <ion-item (click)="someDiscussions(i)" >
                                <div (click)="goToDiscussionPage(discussion.id, categoryId, discussion.name, categoryName)">
                                    <div class="header-img" >
                                        <img src={{discussion.headerImg}} alt="header-img">
                                    </div>

                                    <h6 text-center margin-top>{{discussion.name}}</h6>
                                    <p text-center>{{discussion.userDisLenght1 }} Friends in the Group</p>
                                    <ul class="friends-harmonic">
                                        <li *ngFor="let user of discussion.users">
                                            <a><img src={{user.avatar}}></a>
                                        </li>
                                        <li *ngIf="discussion.userDisLenght1 > 5" class="all-users">+{{discussion.userDisLenght2}}</li>
                                    </ul>
                                </div>
                                <ion-grid>
                                    <ion-row>
                                        <ion-col col-6>
                                            <button class="fab fab-md categories discussion-settings" (click)="addUserDiscussion(discussion.id)">
                                                <span class="button-inner">
                                                    <div class="add-request"
                                                         >
                                                        <img class="add-friend-discussion"
                                                             src="assets/svg/happy-face-icon.svg">
                                                        <span class="plus-icon-discussion ">+</span>
                                                    </div>
                                                </span>
                                            </button>
                                        </ion-col>

                                        <ion-col col-6>
                                            <button class="fab fab-md friends discussion-settings">
                                             <span class="button-inner">
                                                 <img class="nav-link-icon" src={{discussion.settings}}>
                                            </span>
                                            </button>
                                        </ion-col>
                                    </ion-row>
                                </ion-grid>
                            </ion-item>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-infinite-scroll (ionInfinite)="doInfiniteDiscussion($event)">
                <ion-infinite-scroll-content
                        loadingSpinner="bubbles"
                        loadingText="Loading more data...">
                </ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </div>
        <div *ngSwitchCase="'friends'">
            <button ion-button full (click)="setNav('links')">back</button>
            <ion-grid>
                <ion-row>
                    <ion-col col-6 class="cols" *ngFor="let friend of friends; let i = index">
                        <ion-card class="card-friend">
                            <div class="more" margin-right margin-top float-right (click)="openMoreFriends(i)">
                                <img src='assets/svg/three-dots-icon.svg' alt="more" class="more">
                            </div>
                            <ion-card *ngIf="friend.openmore" class="more-block">
                                <ul>
                                    <li (click)="RemoveFriend(friend.id)">Remove Friend</li>
                                    <!--<li>Block Profile</li>-->
                                    <!--<li>Turn Off Notifications</li>-->
                                </ul>
                            </ion-card>
                            <ion-item (click)="someFriend()">
                                <div class="header-img-2">
                                    <img src={{friend.avatar}} alt="header-img">
                                </div>
                                <h6 text-center>{{friend.name}} {{friend.last_name}}</h6>
                                <ion-grid>
                                    <ion-row>
                                        <ion-col col-6>
                                            <button class="fab fab-md categories discussion-settings">
                                         <span class="button-inner">
                                             <img class="nav-link-icon " src="assets/svg/happy-faces-icon.svg">
                                        </span>
                                            </button>
                                        </ion-col>
                                        <ion-col col-6>
                                            <button class="fab fab-md friends discussion-settings">
                                             <span class="button-inner">
                                                 <img class="nav-link-icon" src='assets/svg/settings-icon.svg'>
                                            </span>
                                            </button>
                                        </ion-col>
                                    </ion-row>
                                </ion-grid>
                            </ion-item>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-infinite-scroll (ionInfinite)="doInfiniteFriends($event)">
                <ion-infinite-scroll-content
                        loadingSpinner="bubbles"
                        loadingText="Loading more data...">
                </ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </div>
        <div *ngSwitchCase="'users'">
            <button ion-button full (click)="setNav('links')">back</button>
            <ion-grid>
                <ion-row>
                    <ion-col col-6 class="cols" *ngFor="let user of usersList; let i = index">
                        <ion-card class="card-friend">
                            <ion-item (click)="someUsers()">
                                <div class="header-img-2">
                                    <img src={{user.avatar}} alt="header-img">
                                </div>
                                <h6 text-center>{{user.name}} {{user.last_name}}</h6>
                                <div class="discussion-settings-btn-3">
                                    <button class="fab fab-md categories discussion-settings"
                                            *ngIf="!user.sendFriendRequest && user.friendship.name !== 'Friends' &&  user.friendship.name !== 'Requested'"
                                            (click)="sendRequest(i)">
                                         <span class="button-inner">
                                            <img class="nav-link-icon" src="assets/svg/happy-face-icon.svg">
                                            <span class="nav-link-icon-plus">+</span>
                                        </span>
                                    </button>
                                    <button class="fab fab-md is-friend discussion-settings"
                                            *ngIf="user.friendship.name == 'Friends'">
                                         <span class="button-inner">
                                             <img *ngIf="user.friendship.name === 'Friends'"
                                                  class="nav-link-icon is-friend"
                                                  src="assets/svg/check-icon.svg">
                                        </span>
                                    </button>
                                    <button class="fab fab-md  discussion-settings can-be-friend"
                                            *ngIf="user.sendFriendRequest">
                                         <span class="button-inner">
                                             <img class="nav-link-icon " src="assets/svg/check-icon.svg">
                                        </span>
                                    </button>
                                    <button class="fab fab-md  discussion-settings can-be-friend"
                                            *ngIf="user.friendship.name == 'Requested'" [disabled]="false">
                                         <span class="button-inner">
                                             <img class="nav-link-icon " src="assets/svg/check-icon.svg">
                                        </span>
                                    </button>
                                </div>
                            </ion-item>
                        </ion-card>
                    </ion-col>


                </ion-row>
            </ion-grid>
            <ion-infinite-scroll (ionInfinite)="doInfiniteUsersList($event)">
                <ion-infinite-scroll-content
                        loadingSpinner="bubbles"
                        loadingText="Loading more Users...">
                </ion-infinite-scroll-content>
            </ion-infinite-scroll>

        </div>
        <div *ngSwitchDefault></div>
    </div>
</ion-content>