page-discussion-i {

  .ion-content {
    background-color: $pages-background-color;
  }

  .grid {
    padding: 0px !important;
    .menu-nav-icon {

      //background-color: #ff5e3a;
      background-color: #fcfae3;

      a {
        .menu-icon {
          height: 40px;
          width: 40px;
          display: block;
          margin: 10px auto !important;
        }
      }
    }
    .menu-col-nav-icon {
      background: #3f4257;
      a {
        .menu-link-icon {
          display: block;
          margin: 5px auto 10px;
        }
        .menu-link-value {
          display: block;
          color: white;
          text-align: center;
          width: 30%;
          border-radius: 100%;
          margin-left: 60%;
          font-size: 10px;
          padding: 3px 0px;
        }
        .search {
          margin-top: 22px !important;
        }
      }
      .under-line {
        width: 100%;
        height: 5px;
        background: #ff5e3a;
        position: absolute;
        bottom: 0px;
        display: none;
        left: 0;
      }
    }

  }

  .bg-blue {
    background-color: #38a9ff;
  }

  .bg-orange {
    background-color: #ff5e3a;
  }

  .bg-purple {
    background-color: #7c5ac2;
  }

  .not-necessary-text {
    color: #3f4257 !important;
  }

  .svg {
    width: 24px;
    height: 22px;
  }

  ion-title {
    color: white;
  }

  .platform-false {
    margin-left: 47%;
    margin-top: -1px;
  }

  .platform-true {
    margin-left: 65%;
  }

  .views {
    margin-left: 5px;
  }

  .search_bar {
    height: 70px;
    width: 100%;
    background-color: #3f4257;
    line-height: inherit;
    font-size: .875rem;
    position: absolute;
    display: none;
    color: #707073;;
    z-index: 5;
  }

  .display-block {
    display: block !important;
  }

  .searchbar-ios {
    border: none;
    padding: 20px 5px !important;
    color: #707073;
  }
  .request {
    background: white;
    width: 100%;
    display: none;
    position: absolute;
    z-index: 5;

  }

  .ui-block-title:first-child {
    border-top: none;
  }

  .ui-block-title {
    padding: 23px 25px 18px;
    line-height: 1;
    border-bottom: 1px solid #e6ecf5;
    border-top: 1px solid #e6ecf5;
    display: table;
    width: 100%;
    position: relative;
    border-radius: 5px 5px 0 0;
  }

  .ui-block-title.ui-block-title-small .title {
    font-size: 9px;
    text-transform: uppercase;
    color: #9a9fbf;
  }

  .ui-block-title > * {
    margin-bottom: 0;
    display: table-cell;
    vertical-align: middle;
  }

  responsive .ui-block-title a {
    color: #515365;
  }

  .add-request {
    display: inline-block;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem;
    font-size: .688rem;
    border-radius: .25rem;
    transition: all .2s ease-in-out;
    background-color: #38a9ff;
    color: #fff;
    fill: #fff;
    .add-friend {
      margin-top: 5px;
      height: 18px;
      width: 18px;
      margin-left: 4px;
      margin-top: 8px;
      margin-bottom: 0px;

    }
    .plus-icon {
      position: relative;
      display: inline-block;
      left: -1px;
      font-size: 12px;
      vertical-align: middle;
      top: -21px;
    }
  }

  .cancel-request {
    background-color: #9a9fbf !important;
  }

  .check {
    width: 100%;
    background-color: #38a9ff;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    a {
      text-align: center;
      text-decoration: none;
      color: white;
      margin-left: 30%;
    }
  }

  .chat {
    background: white;
    width: 100%;
    display: none;
    position: absolute;
    z-index: 5;
  }

  .check-message {
    background-color: #7c5ac2 !important;
  }

  .notification {
    background: white;
    width: 100%;
    display: none;
    position: absolute;
    z-index: 5;
  }

  .check-notification {
    background-color: #ff5e3a !important;
  }

  .notification-status {
    color: #ff5e3a;
    font-size: 13px;
  }

  .notification-hours {
    font-size: 13px;
  }

  .same {
    color: #515365;
    text-decoration: none;
    font-size: 12px;
  }

  a {
    text-decoration: none !important;
  }

  .colorik {
    color: #3f4257 !important;
  }

  .scroll {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 400px;
  }

  //------- navigation end ------------

  //------- fab icon ------------------

  .add-link {
    height: 20px;
    width: 20px;
  }

  //------ card ------

  .pic-icon {
    height: 18px;
    width: 18px;
  }

  .author-date {
    font-size: 10px;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .links-block {
    padding: 20px 0 0;
    border-top: 1px solid #e6ecf5;
  }


  .card-content {
    padding: 0px !important;
  }

  .card-md {
    border-radius: 5px 5px 0 0 !important;
  }

  //---------  category open and chose ------

  .buttons-div {
    width: 78% !important;
  }

  .nav-link-icon {
    width: 20px;
    height: 20px;
  }

  .display-block {
    display: block !important;
  }

  .botton3 {
    margin-top: 10px;
    padding: 8px;
  }
  .caregories {
    display: none;
    position: absolute;
    z-index: 5;

  }

  .cancel {
    background: #9a9fbf;
    color: #fff;
  }

  .allCategories {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    &:hover {
      background-color: #38a9ff;
      color: #fff;
    }
  }

  .createCategories {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  .add-scroll {
    overflow-y: auto;
    height: 250px;
  }

  .categoryName {
    clear: both;
    margin-left: 16px;
  }

  .nema {
    margin-bottom: 0px !important;
  }


}
