page-links {

  .pic-icon {
    height: 18px;
    width: 18px;
  }

  .author-date {
    font-size: 10px;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .links-block {
    padding: 20px 0 0;
    border-top: 1px solid #e6ecf5;
  }
  .views {
    margin-left: 5px;
  }

}
