<ion-menu [content]="mycontent">
    <ion-header>
        <ion-navbar>
            <ion-title>
            </ion-title>
        </ion-navbar>
    </ion-header>

    <ion-content>
        <ion-list>
            <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" [color]="isActive(p)">
                <div *ngIf="p.index === 0">
                    <ion-avatar item-start float-left>
                        <img [src]=user.avatar>
                    </ion-avatar>
                    <h4 class="user-name">{{user.name}} {{user.last_name}}</h4>
                    <p>{{user.username}}</p>
                </div>
                <div *ngIf="p.index !== 0">
                    <ion-icon [name]="p.icon"></ion-icon>
                    {{p.title}}
                </div>

            </button>

            <button ion-item (click)="logout()">
                <img class="logout" src="assets/svg/logout-icon.svg">

                Log Out
            </button>
        </ion-list>
    </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" swipeEnabled="true" #mycontent></ion-nav>
