page-menu {
  //ion-title {
  //  background-color: $background;
  //  .logo {
  //    position: relative;
  //    top: -8px;
  //  }
  //  .title{
  //    position: absolute;
  //    top: 15px;
  //    left: 50%;
  //    color: #fff !important;
  //    .header{
  //      text-transform: uppercase;
  //      margin: 0;
  //      color: inherit;
  //      transition: all .3s ease;
  //    }
  //  }
  //}

  .logout{
    width: 18px;
    height: 18px;
    margin-left: 3px;
  }
}


